.wrapper {
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: url("../../assets/images/homebanner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
}

.btn__customSerie {
  position: absolute;
  bottom: 0.2rem;
  width: 20rem;
  height: 4rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  color: var(--grey-dark);
  border-color: var(--grey-light);
  background-color: var(--white-midle);
}

.btn__customSerie:hover {
  font-weight: bolder;
  box-shadow: 0 3px 6px 0px;
  background-color: var(--white);
}
